[submodule "yadr"]
	path = yadr
	url = https://github.com/skwp/dotfiles.git
	ignore = dirty
[submodule "yadr/KeyBindings"]
	path = yadr/KeyBindings
	url = https://github.com/ttscoff/KeyBindings.git
	ignore = dirty
[submodule "yadr/zsh/prezto"]
	path = yadr/zsh/prezto
	url = https://github.com/sorin-ionescu/prezto.git
	ignore = dirty
[submodule "robins-rakefile"]
	path = robins-rakefile
	url = git@bitbucket.org:robinrob/rakefile.git
