[submodule "dotfiles-base"]
  path = dotfiles-base
  url = git@github.com:robinrob/dotfiles-base.git
[submodule "framework"]
  path = framework
  url = https://github.com/skwp/dotfiles
[submodule "local"]
  path = local
  url = git@github.com:robinrob/local
